.item {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 14px;
    margin: 10px 0;
}

.status {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
    border-radius: 6px;
}

.done {
    background-color: green;
}

.pending {
    background-color: yellow;
    color: black;
}

.in-progress {
    background-color: blue;
}

.cancel {
    background-color: red;
}